.title {
    text-align: center;
    border: 1px solid red;
    padding: 20px;
    margin: 10px;
}


#main-body {
    display:flex;
    justify-content: center;
    gap: 30px;
}

.draw-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    border: 3px solid rgb(117, 111, 111);
}

#ball-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-ball {
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
}

#color-ball::-webkit-color-swatch {
    border-radius: 20px;
    border: 2px solid rgba(106, 106, 112, 0.33);
}

#color-ball::-webkit-color-swatch:hover {
    border-radius: 20px;
    border: 3px solid rgba(156, 156, 168, 0.642);
}


.btn.selected {
    background-color: #232527; /* Change this to the desired background color */
    color: #fff; /* Change this to the desired text color */
    border: none;
}

.btn:hover {
    background-color: #007bff; /* Change this to the desired background color on hover */
    color: #fff; /* Change this to the desired text color on hover */
    border-color: #007bff; /* Change this to the desired border color on hover */
}

#draw-area {
    display: grid;
    border: 3px solid brown;
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    gap: 0px;
}

.grid-pixel-border {
    border: 0.5pt solid rgba(220, 219, 219, 0.359);
    /* border: none; */
}

#size-value{
    text-align: center;
    margin: 0px;
    padding: 0px;
}