.main{
    padding-top: 2rem;
    height: 100%;
    background-color: #e1cece;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding: 20px 20px 30px 2px;
}


#main-body {
    display:flex;
    justify-content: center;
    gap: 30px;
    background-color: #e1cece;
}

.draw-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

#ball-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-ball {
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
}

#color-ball::-webkit-color-swatch {
    border-radius: 20px;
    border: 3px solid #eadede;
}

#color-ball::-webkit-color-swatch:hover {
    border-radius: 20px;
    border: 3px solid #d97d7d;
}

.btn {
    border: 2px solid rgb(235, 225, 225) !important;
    color: #623737 !important;
    font-weight: 500 !important;
    background-color: #e3c5c5 !important;
}

.btn:hover {
    background-color: #e0a8a8 !important;
}

.btn.active {
    background-color: #d97d7d !important;
    color: #fff !important;
}

.button-divider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0px 20px;
}

.btn-group{
    padding: 0px 15px;
}

input[type="radio"]:checked + .btn {
    color: #fff !important;
    background: #d97d7d!important;
}

#draw-area {
    display: grid;
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    gap: 0px;
}

.grid-pixel-border {
    border: 0.5pt solid rgba(227, 223, 223, 0.359);
}

#size-value{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.slider{
    margin: 0px 50px;
}

.form-range::-webkit-slider-thumb {
    background: rgb(220, 98, 98) !important;
}

#clear {
    margin: 0px 50px;
}

footer p{
    margin: 0px;
}

footer {
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: #d97d7d;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
